@import "src/styles/app";
.menu__container {
  position: relative;
  padding: 7.5vh 7.5vw;
  width: 100%;
  height: 100%;
}
.menu__header {
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
}
.menu__header--images{
  width: 50vw;
  position: relative;
}
.header--colorBlock {
  width: 20vw;
  height: 45vh;
  background-color: #ad9545;
  position: absolute;
  top: 10vh;
  left: 10vw;
  z-index: 1;
}
.header--image1 {
  background: url("../../assets/image/menu/menu-image-1.jpg") center no-repeat;
  width: 320px;
  height: 480px;
  background-size: cover;
  position: absolute;
  top: 15vh;
  left: 20vw;
  z-index: 2;
  opacity: 1;
}
.header--image2 {
  background: url("../../assets/image/menu/menu-image-2.jpg") center no-repeat;
  width: 320px;
  height: 320px;
  background-size: cover;
  position: absolute;
  top: 30vh;
  left: 1vw;
  z-index: 3;
}
.menu__header--description {
  width: 30vw;
  position: relative;
  h2 {
    color: #ad9545;
    font-size: 1.8rem;
    padding: 3.5vh 0;
    position: relative;
    text-align: start;
    &::before {
      content: "";
      background-color: #ad9545;
      height: 5px;
      width: 125px;
      position: absolute;
      transform: translate3d(-115%, 1rem, 0);
    }
  }
  p {
    color: #ffffff;
    overflow-wrap: normal;
    text-align: start;
    word-break: break-all;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
.menu__content {
  position: relative;
  margin-top: 10vh;
}
.menu__content--title {
  align-items: center;
  justify-content: space-around;
  h2 {
    font-weight: 900;
    font-size: 1.8rem;
    color: #ad9545;
  }
  a {
    text-decoration: none;
    color: #ad9545;
    cursor: pointer;
    span {
      margin-left: 6px;
    }
  }
}
.menu__content--main {
  align-items: flex-start;
  /*justify-content: space-around;*/
  justify-content: center;
}
.menu__product--category {
  width: 20%;
  height: 275px;
  justify-content: space-around;
  a {
    /*padding: 15px 0;*/
    margin: 15px 0;
    cursor: pointer;
    text-decoration: none;
    span {
      color: #999999;
      font-size: 1.1rem;
      font-weight: 700;
      overflow-wrap: normal;
      &:hover {
        color: #ffffff;
        &:before {
          content: "";
          background-color: #ffffff;
          height: 3px;
          width: 50px;
          position: absolute;
          transform: translate3d(-115%, 0.6rem, 0);
        }
      }
    }
  }
}
.menu__product--detail {
  width: 50%;
  padding: 15px 10px 10px 50px;
  span:last-of-type {
    color: #777777;
    padding-top: 15px;
    align-self: flex-start;
    text-wrap: normal;
    text-align: start;
    line-height: 2;
    font-size: 0.85rem;
  }
}

@include respond-below(phone) {
  .menu__header {
    flex-direction: column;
  }
  .menu__header--images {
    width: 100%;
    height: 95vw;
  }
  .header--colorBlock {
    width: 40vw;
    height: 40vw;
    left: 15vw;
  }
  .header--image1 {
    width: 50vw;
    height: 75vw;
    left: auto;
    right: 0;
  }
  .header--image2 {
    width: 45vw;
    height: 45vw;
    top: 27.5vh;
    left: 0;
  }
  .menu__header--description {
    width: 100%;
    padding: 0 2.5%;
    h2 {
      font-size: 1.5rem;
      &::before {
        height: 0;
        width: 0;
        transform: none;
      }
    }
  }
  .menu__content--main {
    flex-direction: column;
  }
  .menu__product--category {
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px 0;
    overflow: scroll;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    a {
      span {
        &:hover {
          &:before {
            height: 0;
            width: 0;
            transform: none;
          }
        }
      }
    }
    .category-item {
      margin-right: 30px;
    }
  }
  .menu__product--detail {
    width: 100%;
    padding: 15px 0;
  }
}
@include respond-between(phone, tablet) {
  .menu__header {
    flex-direction: column;
  }
  .menu__header--images {
    width: 100%;
    height: 75vw;
  }
  .header--colorBlock {
    width: 30vw;
    height: 40vw;
    left: 22.5vw;
  }
  .header--image1 {
    width: 40vw;
    height: 60vw;
    left: auto;
    right: 5vw;
  }
  .header--image2 {
    width: 40vw;
    height: 40vw;
    top: 27.5vh;
    left: 5vw;
  }
  .menu__header--description {
    width: 100%;
    padding: 0 2.5%;
    h2 {
      font-size: 1.5rem;
      &::before {
        height: 0;
        width: 0;
        transform: none;
      }
    }
  }
  .menu__content--main {
    flex-direction: column;
  }
  .menu__product--category {
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px 0;
    overflow: scroll;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    a {
      span {
        &:hover {
          &:before {
            height: 0;
            width: 0;
            transform: none;
          }
        }
      }
    }
    .category-item {
      margin-right: 30px;
    }
  }
  .menu__product--detail {
    width: 100%;
    padding: 15px 0;
  }
}
@include respond-between(tablet, tablet-lg) {
  .header--colorBlock {
    width: 20vw;
    height: 30vw;
  }
  .header--image1 {
    width: 30vw;
    height: 45vw;
  }
  .header--image2 {
    width: 30vw;
    height: 30vw;
  }
  .menu__header--description {
    width: 40vw;
    background-color: transparent;
    z-index: 3;
    h2 {
      font-size: 1.5rem;
      &::before {
        width: 100px;
      }
    }
  }
  .menu__product--detail {
    width: 65%;
    padding: 15px 10px;
  }
}
