@import "src/styles/app";
#about {
  padding: 7.5vh 0;
}
.about__container {
  position: relative;
  width: 100%;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../assets/image/about/about-image-1.jpg") no-repeat;
    background-size: cover;
    opacity: 0.4;
  }
}
.about__container--main {
  position: relative;
  padding: 0 7.5vw;
  width: 100%;
}
.about__background {
  position: relative;
  align-items: center;
  width: 55vw;
  height: 100%;
  margin: 0;
}
.about__background--picture {
  background: url("../../assets/image/about/about-image-2.jpg");
  background-size: contain;
  width: 24vw;
  height: 36vw;
  max-width: 320px;
  max-height: 480px;
  position: absolute;
  z-index: 2;
  transform: translate3d(20%, 60%, 0);
  border-radius: 10px;
}
.about__content {
  width: 37.5vw;
  padding: 2.5vh 2vw;
  position: relative;
  z-index: 3;
  background-color: #000000;
  h2 {
    color: #ad9545;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 0 0 2vh 0;
    position: relative;
    transform: translateX(-6vw);
    &::before {
      content: "";
      background-color: #ad9545;
      height: 5px;
      width: 125px;
      position: absolute;
      transform: translate3d(-115%, 1rem, 0);
    }
  }
  p {
    overflow-wrap: normal;
    word-break: break-all;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #ffffff;
  }
}
.about__content--logo {
  width: 225px;
  height: 225px;
  background: url("../../assets/image/logo.png") center no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.about__content--main {
  background-color: #000000;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
}

@include respond-below(phone) {
  #about {
    padding: 2.5vh 0;
  }
  .about__container {
    &::after {
      background-image: none;
    }
  }
  .about__container--main {
    flex-direction: column;
  }
  .about__background--picture {
    display: none
  }
  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      transform: none;
      &::before {
        height: 0;
        width: 0;
      }
    }
  }
  .about__content--logo {
    width: 125px;
    height: 125px;
  }
}

@include respond-between(phone, tablet) {
  #about {
    padding: 2.5vh 0;
  }
  .about__container {
    &::after {
      background-image: none;
    }
  }
  .about__container--main {
    flex-direction: column;
  }
  .about__background--picture {
    display: none
  }
  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      transform: none;
      &::before {
        height: 0;
        width: 0;
      }
    }
  }
  .about__content--logo {
    width: 175px;
    height: 175px;
  }
}
@include respond-between(tablet, tablet-lg) {
  .about__background--picture {
    display: none;
  }
  .about__content {
    width: 70vw;
    h2 {
      transform: none;
      &::before {
        height: 0;
        width: 0;
      }
    }
  }
}
@include respond-between(tablet-lg, desktop) {
  .about__content {
    width: 50vw;
  }
}
